html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100.01%
  font-family: inherit
  vertical-align: baseline

*:focus
  outline: 0

body
  line-height: 1.5
  color: black
  background: white

table
  border-collapse: separate
  border-spacing: 0

table, td, th
  vertical-align: middle

caption, th, td
  text-align: left
  font-weight: normal

ol, ul
  list-style: none

hr
  margin: 1.5em 10em 1.5em 10em
  padding: 0
  border: 0
  color: #000
  background-color: #000
  height: 1px

input, textarea
  margin: 0
  padding: 0

blockquote:before, blockquote:after, q:before, q:after
  content: ""

blockquote, q
  quotes: "" ""

a img
  border: none