@import reset.sass
@import typography.sass
@import grid.sass
@import forms.sass

#header
  margin-bottom: 1.5em

  .menu
    font-size: 1.25em
    line-height: 1.2

#footer
  margin-top: 1.5em

#credits
  font-size: 0.916667em
  line-height: 1.636364em
  margin-top: 0.75em

.menu
  ul
    margin: 0
  li
    display: inline
    margin-right: 15px