<h3>Help</h3>

<div class="entry">
  <h4>¿Who?</h4>
  <p>
    <a href="http://srug.org" title="Spanish Ruby User Group">Spanish Ruby User Group</a>
  </p>
  
  <h4>¿What?</h4>
  <p>EuRuKo 2009</p>
  
  <h4>¿Where?</h4>
  <p>This event will be held in Barcelona, on the <a href="http://en.citilab.eu/home/" title="Citilab">Citilab</a>.</p>

  <p>
  Pl. Can Suris, s/n<br />
  08940 Cornellà de Llobregat (BCN)<br />
  Spain<br />
  <a href="http://en.citilab.eu/how-get-there" title="Citilab Map">map</a>
  </p>
  
  <h4>¿When?</h4>
  <p>May 9th and 10th, 2009.</p>
  
  <h4>¿How much does it cost?</h4>
  <p>30 Euros, taxes included.</p>
  
  <h4>¿How do I register?</h4>
  <p>You need to register as a user on http://app.euruko2009.org and then go to the "Pay" section. Follow the steps from there to select the event and pay through PayPal, or credit card.</p>

  <p>Being registered on the application doesn'tn imply you have a seat, only when your payment has been received, your seat will be reserved for you.</p>

  <p>Right now we're fully booked and we can't sell any more tickets for the event.
  invoices.</p>

  <p>Invoices will be sent by e-mail.</p>

  <p>It's important that you check the "Invoice Details" section on your user profile on http://app.euruko2009.org , as this is what will appear on the invoice..</p>
  
  <h4>Google map</h4>
<p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=103400778449559312475.0004675e3e248116a2017&amp;ll=41.354392,2.071095&amp;spn=0.02255,0.036478&amp;z=14&amp;output=embed"></iframe><br /><small>Ver <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=es&amp;source=embed&amp;msa=0&amp;msid=103400778449559312475.0004675e3e248116a2017&amp;ll=41.354392,2.071095&amp;spn=0.02255,0.036478&amp;z=14" style="color:#0000FF;text-align:left">EuRuKo2009</a> en un mapa más grande</small>
   </p> 
    
  <h4>Hotels nearby</h4>
  <p><a href="http://www.campanile-barcelona-cornella.es/en/" title="Hotel Campanile">Hotel Campanile</a>

  <p>Name: NH Cornella<br />
  Address: Av. Can Corts, 11-13, Cornellà de Llobregat, Barcelona<br />
  Phone: +34.93.4750895<br />
  email: nhcornella@nh-hotels.com<br />
  </p>

  <h4>Restaurants nearby</h4>
  <p>Not info yet.</p>
  
  <h4>Power and display adapters</h4>
  <p>We'll provide :mini-displayPort => :vga, :mini-dvi => :vga and :dvi => :vga display adapters for the speakers.</p>
  <p>We won't provide power adapters so please bring yours!.</p>

  <h4>More info</h4>
  <p><a href="http://www.trambcn.com/index.php?idioma=ing" title="Barcelona's Tram">Barcelona's Tram</a></p>
  
  <p><a href="http://www.tmb.cat/en_US/home.jsp" title="Barcelona's Tube">Barcelona's Tube</a></p>

  <p><a href="http://www.bcn.es/english/ihome.htm" title="Barcelona's Info">Barcelona's Info</a></p>
</div>