.DS_Store
Capfile
config/deploy.rb
log/*.log
tmp/*
db/*.sqlite3
db/schema.rb
config/database.yml
config/initializers/site_keys.rb
public/resources/*
test/performance/tmp/
public/paper_files
public/paper_photos
public/invoices
tmp/invoices
certs/*pem
