form {
  margin: 18px 0 0 0;
  padding: 0; }
  
label {
  font-size: 90%;
  font-weight: bold;
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif; }
	
label[for="remember_me"] {
  font-weight: normal; }	

input[type="text"], input[type="password"] {
  font-size: 1.25em;
  padding: 4px;
  background: #FFFFFF;
  color: #333;
  border: 1px solid #AAA;
  width: 65%; }

textarea {
  width: 65%;
  height: 100px;
  padding: 5px;
  border: 1px solid #AAA;
  color: #555; }
  
textarea.large {
  width: 75%;
  height: 450px;
  padding: 5px;
  border: 1px solid #AAA;
  color: #555; }


input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  background: #FFFBCA;
  color: #000;
  border: 1px solid #AAA; }

.example, .tip {
  font-size: 75%;
  color: #666;
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif; }

.required {
  color: #F00; }
	
#alert, #error, #notice {
  padding: 6px 10px 6px 10px;
  margin-bottom: 24px;
  width: 96%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

#notice {
  background: #65CD33;
  color: #FFF; }

#alert {
  background: #EBD151;
  color: #FFF; }

#error{
  background: #DB2225;
  color: #FFF; }
  
.errorExplanation {
  margin-bottom: 30px;
  color: #000; }

.errorExplanation h2 {
  color: #DA0202;
  font-size: 150%; }

.errorExplanation p, li {
  font-size: 100%;
  font-family: Helvetica, Arial, Verdana, sans-serif;  }

.fieldWithErrors {
  margin: 0;
  padding: 0; }

.fieldWithErrors input, .fieldWithErrors textarea {
  border: 2px solid #DA0202; }
  
.notes {
  margin-top: 18px;
  font-size: 12px;
  font-family: Helvetica, Arial, Verdana, sans-serif;  }

#comments textarea {
  width: 90%; }