/*---  screen.css  ---*/ 

body {
  background-color: #FFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 80%;
  padding: 0;
  margin: 0;
  text-align: center; }

#page {
  margin: 0 auto;
  padding: 0 20px;
  width: 900px;
  text-align: left;
  background-color: #FFFFFF;
  clear: both; }

#main {
  background-color: white;
  float: left;
  width: 100%;
  margin: 15px 0px 0px 30px; }

h1 {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 0.72em;
  text-transform: uppercase; }

h2 {
  color: #435F79;
  font-family: Georgia, sans-serif;
  font-size: 180%;
  font-weight: normal;
  margin: 0px; }

h3 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 160%;
  margin: 0px;
  font-weight: bold; }

h3 a {
  color: #850707;
  text-decoration: none;
  border-bottom: none;
  margin: 0px; }

h3 a:hover {
  color: #BA0A0A;
  border-bottom: none; }

h4 {
  font-family: Georgia, Times, "Times New Roman";
  font-size: 140%;
  margin: 0px; }

h4 a {
  color: #650505;
  margin: 0px; }

h4 a:hover {
  color: #D50202; }

h5 {
  color: #435F79;
  font-family: Georgia, sans-serif;
  font-size: 140%;
  margin: 0px; }
  
h6 {
  font-size: 80%;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  font-weight: bold; }

a {
  color: #7D0707;
  text-decoration: none;
  border-bottom: 1px solid #DBD6D1; }  

a:hover {
  color: #D50202;
  text-decoration: none;
  border-bottom: 1px solid #E20202; }

p {
  color: #111;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.25em;
  margin: 0px 0px 10px; }

ul {
  padding: 0 0 0 18px; }

li {
  padding: 0; }


hr {
  color: #FFF;
  border-bottom: 1px solid #EEE;
  width: 100%;
  margin: 20px 0 0 0; }


/*--- main ---*/  

#logo {
  margin: 10px 0 15px 0; }

#cover {
  margin-bottom: 15px; }
  
#content-wrapper {
  float: left;
  width: 580px; }

#content {
  padding: 0px; }

#content h3 {
  color: #111;
  margin: 24px 0 18px 0; }

/*--- sidebar ---*/  

#sidebar-wrapper {
  float: right;
  width: 300px; }

#sidebar {
  font-size: 90%;
  padding: 15px;
  padding-top: 0px; }

#sidebar h3 {
  color: #222222;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 17px;
  font-weight: bold;
  margin: 0px; }

#sidebar p {
  line-height: 1.4em; }


/*--- article ---*/ 

.entry {
  margin-bottom: 1em;
  padding-bottom: 5px; }

.entry a {
  font-family: Georgia, Times, "Times New Roman"; }

.entry .info {
  margin-top: 1em;
  font-size: 1em; }

.entry p {
  font-size: 1.05em;
  line-height: 1.45em; }

.entry img {
  float: left;
  margin: 0 16px 8px 0; }

.actions {
  margin-top: 5px; }

.actions a {
  padding: 0;
  font-size: 11px;
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif; }

.actions em {
  color: #451811;
  font-style: italic;
  margin: 0px 6px;
  font-weight: bold; }

.actions img {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  margin: 0 2px -4px 0;
  text-decoration: none;
  float: none; }
  
.tiny-actions {
  margin-top: 2px;
  clear: both; }

.tiny-actions a {
  border: none; }

.grid-item {
  float: left;
  display: block;
  text-align: center;
  width: 86px;
  height: 115px;
  margin-right: 10px;
  font-size: 80%; }

.avatar {
  border: 1px solid #333333; }

#extra {
  margin-bottom: 10px; }

#extra .box {
  background-color: #e8f0f6;
  border-color: #D5E9F6; }

#extra p {
  font-size: 100%;
  line-height: 1.2em;
  margin: 0px 0px 5px 0px; }

#extra em {
  font-style: italic; }
  
#extra #register-button {
  float: left;
  margin: 12px 20px 15px 5px; }

#extra #register-button {
  border: none; }

#extra a img {
  margin-bottom: -3px; }

#extra img a,
#extra img a:hover {
  border-bottom: none !important;
  text-decoration: none !important; }

#extra .soldout img {
  float: left;
  margin-right: 20px; }

#extra .soldout {
  height: 90px; }

.spot {
  margin-top: 10px;
  margin-bottom: 30px;
  clear: both; }

.spot p {
  font-family: Verdana, sans-serif;
  font-size: 11px; 
  color: #333333;
  margin-top: 0px; }

.spot img {
  float: left;
  padding: 0px 12px 10px 0px; }

.box {
  padding: 15px 15px 10px 15px;
  border: 1px solid #dbd6d1;
  background-color: #efedeb;
  margin-bottom: 20px; }
  
.box span { font-weight: bold; }

.box h3 {
  font-size: 18px;
  margin-bottom: 2px; }

.box input {
  margin-top: 5px; }

.box input.email {
  font-size: 10px;
  padding: 3px; 
  color: #a29e96; 
  width: 140px; }

.box input.subscribe {
  width: 70px;
  margin-left: 5px;
  color: #232323; }

.box ul {
  margin-left: 20px; }

.form-block {
  width: 94%;
  border-top: 1px solid #CCC;
  padding: 20px 0 0 0;
  margin: 25px 0; }

.form-block h6 {
  font-size: 120%;
  text-transform: none;
  margin: 0;
  padding-bottom: 10px; }

.form-block .tip {
  color: #111; }

.light {
  background-color: #F5F5F5;
  border-color: #F5F5F5; }

.hidden {
  display: none; }

.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.pagination {
  clear: both; }
  
.more {
  font-size: 85%;
  margin: 25px 0; }

.full, .paid {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2px 2px 2px 2px; }

.full {
  background: #9F9F9F;
  color: #FFF; }

.paid {
  background: #FFFD9D;
  color: #000; }

#resources h6,
#valorations h6,
#attendees h6,
#comments h6 {
  margin: 25px 0 14px 0;
}

#attendee {
  margin-bottom: 15px; }

#valorations img {
  float: none;
  margin: 0 4px -4px 0; }

.comment {
  margin-bottom: 15px; }

.comment .avatar {
  position: absolute; }

.comment p {
  margin-left: 50px; }

/*--- footer ---*/ 

#footer-wrapper {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 900px;
  clear: both; }

#footer {
  font-size: 80%;
  color: #595452;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; }

/*--- navigation  ---*/ 

#header {
  background: transparent url(/images/nav-background.png) repeat-x top left;
  width: 100%; }

#nav {
  margin: 0 auto;
  padding: 0 20px;
  width: 900px;
	height: 38px;
	margin-bottom: 20px; }

#nav ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: auto; }

#nav ul li {
	display: block;
	float: left;
	margin: 0;
	padding: 0; }

#nav ul li a {
  font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
	display: block;
	float: left;
	color: #3D3D3D;
	text-decoration: none;
	padding: 8px 16px 7px;
	border-bottom: none;
	background: transparent url(/images/nav-divider.png) no-repeat top right; }

#nav ul li a:hover {
  color: #FFFFFF;
  background: #BC0A0A;
  border-bottom: 1px solid #8F0808; }

#nav ul li.selected a {
  color: #FFFFFF;
  background: #111111;
  border-bottom: 1px solid #000000; }

#user-menu {
  float: right; }

#user-menu ul li a {
  background-position: top left; }

.bar, .pagination {
  color: #999;
  font-size: 11px;
  float: right;
  margin-right: 10px; }
  
.bar {
  margin-top: 8px; }

.bar p, .pagination p {
  color: #999;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

.bar a, .pagination a {
  color: #000; }

.bar a:hover, .pagination a:hover {
  border-color: #000; }

.date {
  font-family: Verdana;
  margin-right: 2px;
  color: #111;
  font-size: 10px;
}

.sponsor{margin:15px 10px 0 0; padding:0;float:left;text-align:center;}
.sponsor img{border:1px solid #777;padding:0;float: none;}
.sponsor a{border:none;color:#111;font-size:10px;}
.sponsor p{font-size:9px;}

.silver img{padding:6px; background:#ddd;}

#ui-datepicker-div { background: #F4F4F4; padding: 2px; border: 1px solid #999; font-size: 11px; }
#ui-datepicker-div a { border: none; }
.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:15px; }
.ui-datepicker .ui-datepicker-prev-hover { left:2px; }
.ui-datepicker .ui-datepicker-next-hover { right:15px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }
  
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

.shorten {
  padding-bottom: 20px;
  min-height: 100px; }