<% title "People" %>

<table>
  <tr>
  </tr>

<% for user in @users %>
  <tr>
    <td>
      <%=
        gravatar(
          user.email, 
          :size => 32, 
          :default => "#{base_url}/images/avatar.png",
          :class => 'avatar',
          :alt => "avatar de #{user.name}"
        )
      %>
    </td>
    <td><%= link_to user.name, user %></td>
    <% if admin? %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
