<% title 'Editing Event' %>

<% form_for(@event) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @event %>
