<% title "Event: #{@event.name}" %>

<h3><%= yield(:title) %> (<%= @event.price_euros %>€)</h3>
<p><%= simple_format( @event.description ) %></p>

<% if admin? %>
  <p><%= link_to 'Edit', edit_event_path(@event) %></p>
<% end %>