<% title "Event: #{@event.name}" %>

<h3>Price <%= @event.price_euros %>€</h3>
<%= simple_format( @event.description ) %>

<% if admin? %>
  <p><%= link_to 'Edit', edit_event_path(@event) %></p>
<% end %>