  <ul>
  <% @cart.events.each do |event| %>
    <li>        
      <%= event.name %> (<%= event.price_cents %>)
    </li>
  <% end %>
  </ul>
  
  <p>TOTAL: <span id="total"><%= @cart.total_price %></span></p>
  
  <p>
    <%= @cart.invoice_info %>
  </p>
