<% @attendee = Attendee.find_by_paper_id_and_user_id( @paper.id, current_user.id ) %>
<p>
  <% if !@attendee.nil? %>
    <%= link_to 'I don\'t go', paper_attendee_path( @paper, @attendee ), :method => :delete %>
  <% else %>
    <%= link_to 'I go', paper_attendees_path( @paper ), :method => :post %>
  <% end %>
</p>