<div class="comment">
  <%=
    gravatar(
      comment.user.email, 
      :size => 32, 
      :default => "#{base_url}/images/avatar.png",
      :class => 'avatar',
      :alt => "avatar de #{comment.user.name}"
    )
  %>

  <p>
    <%= link_to comment.user.name, user_path(comment.user) %> <span class="date">said on <%= comment.created_at %></span><br/>
    <%= comment.text %>
  </p>
</div>