<div id="extra">
  <div class="box soldout">
    <%= image_tag('soldout.png') %>
    <h5>Fully booked</h5>
    <p>We are sorry to say (and happy by the way) that we have<br />
    no more seats available!</p>
    <p>It's going to be a great conference. <strong>See you there!</strong></p>
  </div>
</div>