<p>
  <ul>
      <% paper.speakers.sort{ |a,b| a.user.name <=> b.user.name }.each do |speaker| %>
        <li>
          <%= link_to speaker.user.name, speaker.user %>
          <%= link_to 'delete', paper_speaker_path( paper, speaker ), :method => 'delete' %>
        </li>
      <% end %>
  </ul>
</p>
<p>
  <% form_for [paper, Speaker.new] do |f| -%>
    <%=(
      select(
        "speaker", 
        "user_id", 
        paper.user_candidates.collect{|u| [ u.name, u.id ] }, 
        { :include_blank => true }
      )
    )%>
    <%= f.submit "Add Speaker" %>
  <% end -%>
</p>