<%
## ONLY ADMIN
# any thing => any thing

## SPEAKER
# acepted => confirmed
%>

<p>
  <strong><%= paper.status %></strong>
</p>

<p>
  <% if admin? %>
    Change to 
    <% @first_status = true %>
    <% Paper::STATUS.keys.each do |status_key| %>
      <% if @paper.status != Paper::STATUS[status_key]%>
        <%= "/"  unless @first_status %>
        <% @first_status = false %>
        <%= link_to( Paper::STATUS[status_key], update_status_paper_path( paper, :status => Paper::STATUS[status_key] ), :method => 'put' ) %>
      <% end %>
    <% end %>
  <% end %>
</p>

<p>
  <% if logged_in? && current_user.is_speaker_on?( paper ) && paper.status == Paper::STATUS[:ACEPTED] %>
    go to 
    <%= link_to( Paper::STATUS[:CONFIRMED], update_status_paper_path( paper, :status => Paper::STATUS[:CONFIRMED] ), :method => 'put' ) %>
  <% end %>
</p>