<h6>Rate of this talk</h6>

<% if logged_in? %>
  <p><%= render :partial => 'papers/votes', :locals => { :paper => @paper } %></p>
<% end %>

<% if @paper.votes.count > 0 %>
  <p><%= image_tag "#{@paper.rate}_star.png" %> (<%=h @paper.votes.size %> votes so far)</p>
<% else %>
  <p>Not any valoration yet.</p>
<% end %>