<h6>Valorations</h6>

<% if logged_in? %>
  <p><%= render :partial => 'papers/votes', :locals => { :paper => @paper } %></p>
<% end %>

<% @paper.votes.each do |vote| %>
  <p><%= image_tag "#{vote.points}_star.png" %> for <%= vote.user.name %><p>
<% end %>

