<h6>Rate of this talk</h6>

<% if logged_in? %>
  <p><%= render :partial => 'papers/votes', :locals => { :paper => @paper } %></p>
<% end %>

<p><%= image_tag "#{@rate}_star.png" %> (<%=h @paper.votes.size %> votes so far)</p>