<% title 'New Paper Proposal' %>

<% form_for(@paper) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'basic_form', :locals => { :f => f } %>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
