<h1>Listing rooms</h1>

<table>
<% @rooms.each do |room| %>
  <tr>
    <td><%= link_to room.name, room %></td>
    <% if admin? %>
      <td><%= link_to 'Edit', edit_room_path(room) %></td>
      <td><%= link_to 'Destroy', room, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New room', new_room_path %>
