<% title "New Room" %>

<% form_for(@room) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p class="notes">Fields marked with <span class="required">*</span> are required fields</p>

<p>
  <%= link_to "&laquo; Go back to rooms", @room %>
</p>