<h1>Editing attend</h1>

<% form_for(@attend) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @attend %> |
<%= link_to 'Back', attends_path %>
