<h1>Listing attends</h1>

<table>
  <tr>
  </tr>

<% for attend in @attends %>
  <tr>
    <td><%= link_to 'Show', attend %></td>
    <td><%= link_to 'Edit', edit_attend_path(attend) %></td>
    <td><%= link_to 'Destroy', attend, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New attend', new_attend_path %>
