<h1>Editing speaker</h1>

<% form_for(@speaker) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @speaker %> |
<%= link_to 'Back', speakers_path %>
