<ul>
  <li><%= link_to 'User Searcher', users_path %></li>
  <li><%= link_to 'Configure Calendar', calendar_path %></li>
  <li><%= link_to 'Rooms', rooms_path %></li>
  <li><%= link_to 'Exceptions', :controller => 'logged_exceptions' %></li>
</ul>