<% if admin? %>
<div class="box">
  <%= render :partial => 'layouts/admin_menu' %>
</div>
<% end %>

<div class="spot">
  <%= image_tag "europe.png" %>
  <h3>What's EuRuKo?</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div class="spot">
  <%= image_tag "twitter.png" %>
  <h3>Follow us on Twitter</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div class="spot">
  <%= image_tag "ruby.png" %>
  <h3>Got Ruby?</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div class="spot">
  <h3>Sponsorship</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div class="spot box">
  <h3>Contact Us</h3>
  <p>
    The conference is organised this year by the Spanish Ruby Users Group
    or as we like to call it <a href="http://www.srug.org">SRUG</a>.
  </p>
  <p>You can join to the <a href="http://groups.google.es/group/euruko-spain-2009?hl=es">mailing list</a>.</p>
</div>